pyaes==1.6.1 ; python_version >= "3.12"
pyasn1==0.6.1 ; python_version >= "3.12"
python-dotenv==1.0.1 ; python_version >= "3.12"
rsa==4.2 ; python_version >= "3.12"
telethon==1.39.0 ; python_version >= "3.12"
